html{
    --red-m: #e70112;
    --dark-red-m: #b20418;
    --blue-m: #30a3f9;
    --dark-blue-m: #426ac3;
    --gren-m: #24ca7a;
    --dark-green: #1da869;
    --yellow-m: #ffdf02;
    --dark-yellow-m: #fec300f8;
    --peach-m: #f096be;
    --dark-peach: #ff6898;
    --gray-m: #fafafa;
    --dark-gray-m: #e2dddd;
    --yoshi-m: #70b921;
    --dark-yoshi-m: #50a00f;
    --shadow-m: #cec5c5;
}

.h1 {
    text-align: center;
    margin-top: 0;
    font-size: 2.5rem;
}

.layout-personagens {
    text-align: center;
    margin: 100px 0 0;
}

.personagens-banner {
    max-width: 100%; 
}

.personagens-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.personagens {
    text-align: center;
}

.personagens > img {
    width: 250px;
    height: auto;
    border: 2px solid var(--dark-gray-m);
    border-radius: 35px;
    box-shadow: 4px 4px 15px var(--shadow-m);
}

.mario{
    background-color: var(--red-m);
}

.luigi{
    background-color: var(--gren-m);
}

.peach {
    background-color: var(--peach-m);
}

.bowser {
    background-color: var(--dark-yellow-m);
}

.yoshi {
    background-color: var(--yoshi-m);
}

.toad {
    background-color: var(--gray-m);
}

.daisy {
    background-color: var(--yellow-m)
}

.wario{
    background-color: purple;
}

.waluigi{
    background-color: var(--dark-blue-m);
}

.rosalina{
    background-color: var(--blue-m);
}

.dk{
    background-color: brown;
}

.boo{
    background-color: var(--dark-peach);
}